2021년 3월 25일 과제2
철학과 이로움(학번:1826032) 작성

과제 2-1: 0과 100 사이의 수 중에서 7의 배수의 합을 구하여라

In [5]:
def mul_seven():
  sum = 0      #합계를 계산하기 위해 변수 선언
  
  for i in range(0,101):  #0과 100사이의 수 중
    if i%7 == 0:          #7의 배수 구하기
      sum = sum + i
  return sum

mul_seven()

735

과제 2-2: 사용자가 입력한 숫자의 단부터 구구단을 역순으로 출력

조건1: 사용자로부터 시작 단 입력받음

조건2: 사용자가 정확한 단을 입력하지 않았을 경우 오류 메시지를 보내고 다시 입력받음

조건3: 입력 받은 단부터 구구단을 역순으로 출력한다

조건4: 출력한 구구단을 가로로 출력한다

조건5: 각 단 역시 역순으로 출력한다

In [4]:
def gugudan():
  while True:
    dan = int(input("출력을 시작할 단 입력"))
    if not 1 < dan < 10:        #구구단 범위에 입력값이 없다면
      print("입력한 단수의 값이 잘못되었습니다.")
      print("다시 입력해 주세요 (입력할 값의 범위 : 2~9)")
    else:                        #구구단 범위에 입력값이 있다면
      break

  guguLine = ""                  #String 변수 선언
  for i in range(dan, 1, -1):    #몇 단인지 선언해주기 위함
    guguLine = guguLine + str("-   %d단   - " %i)
  print(guguLine)

  for i in range(9, 0, -1):      #dan의 몇 번째인지
    guguLine = ""
    for j in range(dan, 1, -1):  #몇 번째 단인지
      guguLine = guguLine + str("%2d X %2d = %2d" % (j, i, j*i))
    print(guguLine)


gugudan()

출력을 시작할 단 입력10
입력한 단수의 값이 잘못되었습니다.
다시 입력해 주세요 (입력할 값의 범위 : 2~9)
출력을 시작할 단 입력7
-   7단   - -   6단   - -   5단   - -   4단   - -   3단   - -   2단   -
 7 X  9 = 63 6 X  9 = 54 5 X  9 = 45 4 X  9 = 36 3 X  9 = 27 2 X  9 = 18
 7 X  8 = 56 6 X  8 = 48 5 X  8 = 40 4 X  8 = 32 3 X  8 = 24 2 X  8 = 16
 7 X  7 = 49 6 X  7 = 42 5 X  7 = 35 4 X  7 = 28 3 X  7 = 21 2 X  7 = 14
 7 X  6 = 42 6 X  6 = 36 5 X  6 = 30 4 X  6 = 24 3 X  6 = 18 2 X  6 = 12
 7 X  5 = 35 6 X  5 = 30 5 X  5 = 25 4 X  5 = 20 3 X  5 = 15 2 X  5 = 10
 7 X  4 = 28 6 X  4 = 24 5 X  4 = 20 4 X  4 = 16 3 X  4 = 12 2 X  4 =  8
 7 X  3 = 21 6 X  3 = 18 5 X  3 = 15 4 X  3 = 12 3 X  3 =  9 2 X  3 =  6
 7 X  2 = 14 6 X  2 = 12 5 X  2 = 10 4 X  2 =  8 3 X  2 =  6 2 X  2 =  4
 7 X  1 =  7 6 X  1 =  6 5 X  1 =  5 4 X  1 =  4 3 X  1 =  3 2 X  1 =  2

과제 2-3" 'e'을 이용하여 마름모 모양 출력

조건: while문 대신 for 문장 사용

In [3]:
def diamond():
  i = 0       #변수 초기화를 위함
  k = 0

  for i in range(0, 9):           #마름모가 총 9줄, 0~8 반복
    if i < 5:                     #0~4줄까지
      for k in range(0, 4-i):     #공백 반복
        print(' ', end='')

      for k in range(0, i*2 + 1): #e 반복
        print('e', end='')

    else:                         #4~8줄까지

      for k in range(0, i-4):   
        print(' ', end='')        #공백 반복

      for k in range(0, (9-i)*2 -1):
        print('e', end='')        #e 반복

    print()                       #개행을 위함

diamond()                         #실행

    e
   eee
  eeeee
 eeeeeee
eeeeeeeee
 eeeeeee
  eeeee
   eee
    e