
2021년 3월 15일 실습1

철학과 이로움(학번: 1826032) 작성

실습1

type()함수 : 데이터 타입을 확인할 수 있는 함수

In [9]:
boolVar = True
intVar_ = 0
floatVar = 0.0
str = ""
#_int = 1   #언더바로 시작할 수는 있음
#1_int = 1  #그러나 숫자로 시작하면 에러가 난다.

myVar = 100
print(type(myVar))
myVar = 100.0   #다른 언어와 달리 파이썬은 다른 데이터 타입도 대입 가능함. 
print(type(myVar))

<class 'int'>
<class 'float'>

id() 함수 : 변수가 가리키고 있는 객체의 주소 값을 돌려주는 파이썬 내장 함수

변수는 주소값을 참조하는 것인데, id함수가 그것을 알려줌.

In [8]:
a = 100
b = 50

print(id(a))
print(id(100))    #100이라는 숫자의 참조값도 a의 참조값과 같음. 
print(id(b))
print(id(50))
a = 50
print(id(a))
print(id(b))

94796286015072
94796286015072
94796286013472
94796286013472
94796286013472
94796286013472

실습 4 : 문자형

In [10]:
a = "파이썬 만세"

print(a)
print(type(a))

#문자열 중간에 작은따옴표나 큰따옴표를 출력하고 싶다면 다른 따옴표로 묶어주어야 함.

print("작은따옴표는 '모양이다")
print('큰따옴표는 "모양이다')

#역슬래시(\)

a = "이건 큰다옴표는 \" 모양이다"
b = '이건 작은따옴표는 \'모양이다'
print(a, b)

a = '파이썬 \n만세'
print(a)

#큰따옴표나 작은 따옴표 3개 (""")묶어서 여러 줄로 표현
a = """파이썬
만세"""
#b = "파이썬      #이와 같이 여러 줄에 걸치면 오류가 뜬다.
#만세"
print(a)

#부여된 순서 번호로 각 문자 접근
a = '1$ 환율은 1100입니다.'
a = "currency exchange rates"
print("=======================")
print("01234567890123456789012")
print(a)
print("=======================")
print(a[0])
print(a[1])
print(a[-1])
print(a[-2])
print(a[7:14])

파이썬 만세
<class 'str'>
작은따옴표는 '모양이다
큰따옴표는 "모양이다
이건 큰다옴표는 " 모양이다 이건 작은따옴표는 '모양이다
파이썬
만세
파이썬
만세
=======================
01234567890123456789012
currency exchange rates
=======================
c
u
s
e
y excha

실습:   문자열 "100" vs 숫자 100

In [3]:
num = 100
strNum = "100"

print(type(num))
print(type(strNum))

print(num+num)
print(strNum+strNum)
#print(strNum+num)

<class 'int'>
<class 'str'>
200
100100

실습5: 수식의 표현

In [7]:
a = 5; b = 3
print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

c = 7; d = 9
print(c, d)

e, f = 11, 13
print(e, f)

#연산자 우선 순위
print("연산자 우선 순위")
a, b, c = 2, 3, 4
print(a+b-c, a+b*c, a+b/c)

8 2 15 1.6666666666666667 1 2 125
7 9
11 13
연산자 우선 순위
1 14 2.75

실습10: 입력과 출력

In [6]:
# 사용자와 개발자

print("Hello World!")

eng = input("영어 점수를 입력하시오: ")   #사용자로부터 입력을 받는 것
math = input("수학 점수를 입력하시오: ") 

# eng = 100 #개발자가 값을 넣은 것

totalScore = eng + math
print("총점 = ", totalScore)

eng = int(input("영어 점수를 입력하시오: "))
math = int(input("수학 점수를 입력하시오: "))
totalScore = eng + math
print("총점 = ", totalScore)

name = input("이름을 입력하시오: ")
print(name + '님 반갑습니다.')

Hello World!
영어 점수를 입력하시오: 50
수학 점수를 입력하시오: 50
총점 =  5050
영어 점수를 입력하시오: 50
수학 점수를 입력하시오: 50
총점 =  100
이름을 입력하시오: 50
50님 반갑습니다.